webir.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT WEBIR			(DOC)+>
<!ELEMENT DOC			(DOCID, URL, TITLE, BODY, HTML, LINKS, ANCHORS)>
<!ELEMENT DOCID			(#PCDATA)>
<!ELEMENT URL			(#PCDATA)>
<!ELEMENT TITLE			(#PCDATA)>
<!ELEMENT BODY			(#PCDATA)>
<!ELEMENT HTML			(#PCDATA)>
<!ELEMENT LINKS			(LINK)*>
<!ELEMENT LINK			(#PCDATA)>
<!ELEMENT ANCHORS		(ANCHOR)*>
<!ELEMENT ANCHOR		(#PCDATA)>

